@import "tailwindcss";

/* General */

:root {
  --background: #ffffff;         /* Blanco puro para fondo limpio */
  --secondary-bg: #f2f2f2;       /* Gris muy claro como fondo secundario */
  --primary: #1e1e2f;            /* Azul oscuro con tinte violeta, elegante y moderno */
  --secondary: #c9ada7;          /* Rosa pálido neutro, da suavidad y sofisticación */
  --glass: #ffffffaa;            /* Blanco semitransparente para efecto glass */
  --primary-txt: #111111;        /* Casi negro para legibilidad óptima */
  --secondary-txt: #6c5ce7;      /* Lavanda vibrante como acento */
  --error: #e74c3c;              /* Rojo vivo para errores o alertas */
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-secondary-bg: var(--secondary-bg);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-txt: var(--primary-txt);
  --color-secondary-txt: var(--secondary-txt);
  --color-error: var(--error);
  --color-glass: var(--glass);
}


body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto ;
  background:var(--background);
}


h1{
  color: var(--primary-txt);
}
