@import "tailwindcss";

/* General */

:root {
  --background: #ffffff;
  --secondary-bg: #f2f2f2;
  --primary: #1e1e2f;
  --secondary: #c9ada7;
  --glass: #ffffffaa;
  --primary-txt: #111111;
  --secondary-txt: #6c5ce7;
  --error: #e74c3c;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-secondary-bg: var(--secondary-bg);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-txt: var(--primary-txt);
  --color-secondary-txt: var(--secondary-txt);
  --color-error: var(--error);
  --color-glass: var(--glass);
}

body {
  min-height: 100vh;
  background: var(--background);
}

/* Custom Keyframes and Animation */
@keyframes pulse-custom {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(218, 103, 68, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(218, 103, 68, 0);
  }
}

.hover\:animate-pulse-custom:hover {
  animation: pulse-custom 1.5s infinite;
}
